#blueList {
    height: 60px;
    width: 105%;
    background-color: blue;
    border-radius: 5px;
    font-size:24px;
    display:inline-block;
    margin-left: -25px;
}

#sections {
 float:left;
 width: 30%;
 color: white;
 margin-top: 20px;   
}

.blueListButtons {
    margin-left: 10px;
    font-size: 18px;
    font-weight: bold;
    color:white;
    float:left;
    margin-top: 10px;
}

#blueListHeader {
    color: white;
    width: 100px;
    margin-left: 45%;
    font-size: 36px;
    margin-top: 10px;

}
.leftAndRight {
    float: left;
    width:49%;
}

.orderHeader {
    font-size: 36px;
    margin-top: 40px;
    width: 100%;
    text-align: center;

}

.orderNumber {
    font-size: 108px;
    width: 100%;
    text-align: center;
    margin-top: -60px;

}

.top5header {
    font-weight: bold;
    text-align: center;
}

.cmName {
    width: 35%;
    margin-left: 35%;
    text-align: left;
}


#doughnutChartLeft {
    margin-top: -50px;
    display: block;
    width: 550px;
    height: 550px;
}
#rightSide {
    float: right;
}

#doughnutChartRight {
    margin-top: -50px;
    display: block;
    width: 500px;
    height: 500px;

}

#customerTable {
    float: left;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 30px;
}

#customerListButton {
    float: right;
    margin-right: 50px;
}

#backToTopButton
{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;
}

#upArrow {
    background-image: url("../../images/double-up2.png");
    
    width: 30px;
    height: 30px;
    margin-left: 48%;
}
mat-cell {
    margin-left: 10px;
}