#blueList {
    height: 60px;
    width: 105%;
    background-color: blue;
    border-radius: 5px;
    font-size:24px;
    display:inline-block;
    margin-left: -25px;
}

#sections {
 float:left;
 width: 30%;
 color: white;
 margin-top: 20px;   
}

.blueListButtons {
    margin-left: 10px;
    font-size: 18px;
    font-weight: bold;
    color:white;
    float:left;
    margin-top: 10px;
}

.leftAndRight {
    float: left;
    width:49%;
}

.orderHeader {
    font-size: 36px;
    margin-top: 40px;
    width: 100%;
    text-align: center;

}

.orderNumber {
    font-size: 108px;
    width: 100%;
    text-align: center;
    margin-top: -60px;

}

.top5header {
    font-weight: bold;
    text-align: center;
}

.cmName {
    width: 35%;
    margin-left: 35%;
    text-align: left;
}


#doughnutChartLeft {
    margin-top: -50px;
    display: block;
    width: 550px;
    height: 550px;
}
#rightSide {
    float: right;
}

#doughnutChartRight {
    margin-top: -50px;
    display: block;
    width: 500px;
    height: 500px;

}