 
<body>
<div id="blueList">
  <button mat-button id="sectionButton" class="blueListButtons"  [matMenuTriggerFor]="menu">{{ currentSectionToShow }} </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="setSection('solsidan')">Solsidan</button>
    <button mat-menu-item (click)="setSection('dannes')">Dannes</button>
    <button mat-menu-item (click)="setSection('bong')">Bong</button>
    <button mat-menu-item (click)="setSection('alla')">Alla</button>
  </mat-menu>


  <button mat-button id="timeSpanButton"  class="blueListButtons" [matMenuTriggerFor]="timeSpan">{{ currentTimeSpanToShow }} </button>
  <mat-menu #timeSpan="matMenu">
    <button mat-menu-item (click)="setTimeSpan('Idag')">Idag</button>
    <button mat-menu-item (click)="setTimeSpan('Denna månad')">Denna månad</button>
  </mat-menu>

  <p id="blueListHeader">{{ currentSectionToShow }}</p>

  <button mat-button id="customerListButton"  class="blueListButtons" (click)="scrollToList()">Visa kundlista för {{currentSectionToShow }} </button>

  <button mat-button id="backToTopButton"  (click)="backToTop()"><div id="upArrow"></div></button>


</div>

<div id="leftSide" class="leftAndRight">
  <p id="returnsToday" *ngIf="currentTimeSpanToShow === 'Idag'" class="orderHeader">Ordrar plockade idag</p>
  <p id="returnsToday" *ngIf="currentTimeSpanToShow === 'Denna månad'" class="orderHeader">Ordrar plockade denna månad</p>
  <br>
  <p id="todayNumber" class ="orderNumber">{{ orderNumberToShow }}</p>
 
  <canvas id="doughnutChartLeft"></canvas>


</div>
  
  
  <div id="rightSide" class="leftAndRight">
    <p id="returnsToday" *ngIf="currentTimeSpanToShow === 'Idag'" class="orderHeader">Orderrader plockade idag</p>
    <p id="returnsToday" *ngIf="currentTimeSpanToShow === 'Denna månad'" class="orderHeader">Orderrader plockade denna månad</p>    <br>
    <p id="todayNumber" class ="orderNumber">{{ orderLinesToShow }}</p>
  
    <canvas id="doughnutChartRight"></canvas>
  </div>

 <div id="customerTable">
      <mat-table #table [dataSource]="currentSection" >

          <ng-container matColumnDef="customerName">
            <mat-header-cell *matHeaderCellDef> Kund </mat-header-cell>>
            <mat-cell *matCellDef="let customer"> {{customer.customerName}} </mat-cell>
          </ng-container>


          <ng-container matColumnDef="ordersToday">
              <mat-header-cell *matHeaderCellDef> Klara ordrar idag </mat-header-cell>
              <mat-cell *matCellDef="let customer">
                <p *ngIf="customer.completedToday === undefined">0</p>
                <p *ngIf="customer.completedToday !== undefined">{{customer.completedToday.length}}</p>
              </mat-cell>
          </ng-container>



          <ng-container matColumnDef="ordersMonth">
              <mat-header-cell *matHeaderCellDef> Klara ordrar denna månad </mat-header-cell>
              <mat-cell *matCellDef="let customer">
                <p *ngIf="customer.completedMonth === undefined">0</p>
                <p *ngIf="customer.completedMonth !== undefined">{{customer.completedMonth.length}}</p>
              </mat-cell>
          </ng-container>

          <ng-container matColumnDef="orderLinesToday">
              <mat-header-cell *matHeaderCellDef> Klara orderrader idag </mat-header-cell>
              <mat-cell *matCellDef="let customer">
                <p *ngIf="customer.completedOrderLines === undefined">0</p>
                <p *ngIf="customer.completedOrderLines !== undefined">{{customer.completedOrderLinesToday}}</p>
              </mat-cell>
          </ng-container>
       
        
          <ng-container matColumnDef="orderLinesMonth">
              <mat-header-cell *matHeaderCellDef> Klara orderrader denna månad </mat-header-cell>
              <mat-cell *matCellDef="let customer">
                <p *ngIf="customer.completedOrderLinesMonth === undefined">0</p>
                <p *ngIf="customer.completedOrderLinesMonth !== undefined">{{customer.completedOrderLinesMonth}}</p>
              </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row  *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        
  </div>

</body>