#blueList {
    height: 60px;
    width: 105%;
    background-color: blue;
    font-size:24px;
    margin-left: -25px;
    display:inline-block;
}



#sectionButton {
    margin-left: 10px;
    font-size: 18px;
    font-weight: bold;
    color:white;
    float:left;
    margin-top: 10px;
}

#sectionHeader {
    text-align: center;
    margin-top: 10px;
    margin-right: 210px;
    font-size: 36px;
    color: white;
}

.leftAndRight {
    width: 49%;
    float: left;
    
}
.newMessage {
    display: flex;
    flex-direction: column;
}

#newMessagePanel {
    margin-bottom: 50px;
}

.deleteMessageButton {
    float:right;
    margin-top: -30px;
}


#newMessageHeader {
   width: 100%;
   text-align:center;
   font-size: 24px;
}

.sectionDescription {
    margin-left: 400px;
}

.messageHeaderTitle {
    width: 200px;
    font-weight: bold;
}

.confirmName {
    width: 40%;
}