<body>
<div id="blueList">
          <button mat-button id="sectionButton"  [matMenuTriggerFor]="menu">Avdelning </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="getMessages('Solsidan')">Solsidan</button>
            <button mat-menu-item (click)="getMessages('Dannes')">Dannes</button>
            <button mat-menu-item (click)="getMessages('Bong')">Bong</button>
            <button mat-menu-item (click)="getMessages('All')">Alla</button>
          </mat-menu>
      <p id="sectionHeader">{{ currentSection }}</p>
  </div>

  <div id="leftSide" class="leftAndRight">
  <mat-expansion-panel id="newMessagePanel">
    <mat-expansion-panel-header>
      <mat-panel-title>
       <span id="newMessageHeader"> Meddelande </span>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div class="newMessage">
    <form #createMessageForm="ngForm">
      <mat-form-field>
        <input  
        matInput
        required
        placeholder="Rubrik"
        name="header"
        id="header"
        ngModel 
        name="header" 
        #header="ngModel"
        >
      </mat-form-field>
    
      <mat-form-field>
        <textarea
        matInput
        required
        placeholder="Meddelande"
        name="message"
        id="message"
        ngModel 
        name="message" 
        #message="ngModel"
        matTextareaAutosize
        matAutosizeMinRows="2"
        matAutosizeMaxRows="5"
         >
        </textarea>
      </mat-form-field>
  
      <mat-form-field>
        <mat-select
         matSelect
         placeholder= "Avdelning"
         required
         name="section"
         ngModel
         #section="ngModel"
         >
          <mat-option value="Alla">Alla</mat-option>
          <mat-option value="Solsidan">Solsidan</mat-option>
          <mat-option value="Dannes">Dannes</mat-option>
          <mat-option value="Bong">Bong</mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-mini-fab color="primary" (click)="addMessage(createMessageForm.value)" type="submit"  id="addMessageButton" [disabled]="!createMessageForm.form.valid" >+</button>           
      </form>
    </div>
  </mat-expansion-panel>

  <mat-divider></mat-divider>
  
  <mat-accordion>
    <mat-list class="messageList" *ngFor="let message of messagesToShow">
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false"
                           class="panels">
      
         <mat-expansion-panel-header>
            <mat-divider></mat-divider>

          <mat-panel-title class="messageHeaderTitle">
            <div id="messageHeader">
              {{message.header }}
            </div>
          </mat-panel-title>
          <mat-panel-description>
           <span class="sectionDescription"> {{message.section}} </span>
          </mat-panel-description>
        </mat-expansion-panel-header>   
          <div class="expansionSection">   
            <p id="messageContent">{{message.message}}</p>
          </div>

        <button mat-mini-fab color="warn" class="deleteMessageButton" (click)="deleteMessage(message.key)">-</button>


      </mat-expansion-panel>
    </mat-list>
  </mat-accordion>
</div>


<!-- RIGHT SIDE -->

<div id="rightSide" class="leftAndRight">
  <mat-expansion-panel id="newMessagePanel">
    <mat-expansion-panel-header>
      <mat-panel-title>
       <span id="newMessageHeader"> To DO </span>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div class="newMessage">
    <form #createTodoForm="ngForm">
      <mat-form-field>
        <input  
        matInput
        required
        placeholder="Rubrik"
        name="header"
        id="header"
        ngModel 
        name="header" 
        #header="ngModel"
        >
      </mat-form-field>
    
      <mat-form-field>
        <textarea
        matInput
        required
        placeholder="Meddelande"
        name="message"
        id="message"
        ngModel 
        name="message" 
        #message="ngModel"
        matTextareaAutosize
        matAutosizeMinRows="2"
        matAutosizeMaxRows="5"
         >
        </textarea>
      </mat-form-field>
  
      <mat-form-field>
        <mat-select
        matSelect
        placeholder= "Avdelning"
        required
        name="section"
        ngModel
        #section="ngModel"
        >
          <mat-option value="Alla">Alla</mat-option>
          <mat-option value="Solsidan">Solsidan</mat-option>
          <mat-option value="Dannes">Dannes</mat-option>
          <mat-option value="Bong">Bong</mat-option>
        
        </mat-select>
      </mat-form-field>
      <button mat-mini-fab color="primary" (click)="addTodo(createTodoForm.value)" type="submit"  id="addMessageButton" [disabled]="!createTodoForm.form.valid" >+</button>           
      </form>
    </div>
  </mat-expansion-panel>

  <mat-divider></mat-divider>


  <mat-accordion>
    <mat-list class="messageList" *ngFor="let toDo of toDoToShow">
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false"
                           class="panels">
      
         <mat-expansion-panel-header>
          <mat-panel-title class="messageHeaderTitle">
            <div id="messageHeader">
              {{toDo.header}}
            </div>
          </mat-panel-title>
          <mat-panel-description>
           <span class="sectionDescription"> {{toDo.section}} </span>
          </mat-panel-description>
        </mat-expansion-panel-header>      
        <p id="messageContent">{{toDo.message}}</p>
        <button mat-mini-fab color="warn" class="deleteMessageButton" (click)="deleteToDos(toDo.key)">-</button>

      </mat-expansion-panel>
    </mat-list>
  </mat-accordion>

</div>

</body>