<div id="newCustomerForm">
   <form #createCustomerForm="ngForm">
      


  <div id="leftColumn">
  <!-- LeftColumn -->  
  <!-- CustomerName  -->
  <div class="form-group">
  <label for="CustomerName">Kund</label>
  <input 
   required
   minlength="3" 
   ngModel
   name="CustomerName" 
   #CustomerName="ngModel" 
   (change)="getCustomerName(CustomerName)" 
   id="CustomerNames"
   type="text" 
   class="form-control">
  <div 
  class="alert alert-danger" 
  *ngIf="CustomerName.touched && !CustomerName.valid">
  <div *ngIf="CustomerName.errors.required">
    Customername is required
  </div>
  <div *ngIf="CustomerName.errors.minlength">
    Customername should be minimum {{ CustomerName.errors.minlength.requiredLength }} characters
  </div>
  </div>

  </div>





<!-- CustomerID -->
<div class="form-group">
    <label for="customerID">KundID</label>
    <input 
    required
     minvalue="0"
     minlength="2" 
     maxlength="3" 
     ngModel 
     name="customerID" 
     #customerID="ngModel" 
     (change)="getCustomerId(customerID)" 
     id="customerID" 
     type="text" 
     class="form-control">
    <div class="alert alert-danger"
    *ngIf="customerID.touched && !customerID.valid">
    <div *ngIf="customerID.errors.required">
      customerId is required
    </div>
    <div 
      *ngIf="customerID.errors.minlength">
      customerId should be {{ customerID.errors.minlength.requiredLength }} or 3 characters
    </div>
    </div>
  </div>


  <!-- SECTIONS -->
  <div class="form-group" id="sections">
    <label for="solsidan">Solsidan</label>
    <input required
     type="radio"
     name="section" 
     id="solsidan"
     value="Solsidan"
     (change)="getSection($event)">

     <label for="dannes">Dannes</label>
     <input required
      type="radio"
      name="section" 
      id="dannes"
      value="dannes"
      (change)="getSection($event)">

     <label for="bong">Bong</label>
     <input required
      type="radio"
      name="section" 
      id="bong"
      value="bong"
      (change)="getSection($event)">
  </div>
</div>

 <!-- MiddleColumn -->  
<!-- Contacts -->
<div id="middleColumn">
      <p id="kontakter">Kontakt</p>
  
      <!-- FirstName -->
      <div class="form-group">
      <label for="contactFirstName">Förnamn</label>
      <input 
       required
       minvalue="0" 
       minlength="3" 
       maxlength="20" 
       ngModel 
       name="contactFirstName" 
       #contactFirstName="ngModel" 
       (change)="getFirstname(contactFirstName)" 
       id="contactFirstName" 
       type="text" 
       class="form-control">
      <div class="alert alert-danger"
       *ngIf="contactFirstName.touched && !contactFirstName.valid">
      <div *ngIf="contactFirstName.errors.required">
        contactFirstName is required
      </div>
      <div
       *ngIf="contactFirstName.errors.minlength">
       contactFirstName should be atleast {{ contactFirstName.errors.minlength.requiredLength }} characters
      </div>
      </div>
      </div>
  
      <br>
          <!-- LastName -->
          <div class="form-group">
          <label for="contactLastName">Efternamn</label>
          <input
           required 
           minvalue="0" 
           minlength="3" 
           maxlength="20" 
           ngModel 
           name="contactLastName" 
           #contactLastName="ngModel" 
           (change)="getLastname(contactLastName)" 
           id="contactLastName" 
           type="text" 
           class="form-control">
          <div class="alert alert-danger"
           *ngIf="contactLastName.touched && !contactLastName.valid">
          <div 
          *ngIf="contactLastName.errors.required">
            contactLastName is required
          </div>
          <div 
          *ngIf="contactLastName.errors.minlength">
          contactLastName should be atleast {{ contactLastName.errors.minlength.requiredLength }} characters
          </div>
          </div>
          </div>
      
          <!-- Phone -->
          <div class="form-group">
          <label for="contactPhone">Telefon</label>
          <input
           required 
           minvalue="0"
           minlength="6" 
           maxlength="20" 
           ngModel 
           name="phone" 
           #contactPhone="ngModel" 
           (change)="getPhone(contactPhone)" 
           id="contactPhone" 
           type="text" 
           class="form-control">
          <div class="alert alert-danger"
           *ngIf="contactPhone.touched && !contactPhone.valid">
          <div 
          *ngIf="contactPhone.errors.required">
            phone is required
          </div>
          <div 
          *ngIf="contactPhone.errors.minlength">
            phone should be atleast {{ contactPhone.errors.minlength.requiredLength }} characters
          </div>
          </div>
          </div>
  
          <br>
  
           <!-- Email -->
           <div class="form-group">
           <label for="contacteMail">Email</label>
           <input
            required 
            minvalue="0" 
            minlength="10" 
            maxlength="20" 
            ngModel 
            name="contacteMail" 
            #contacteMail="ngModel" 
            (change)="getEmail(contacteMail)" 
            id="contacteMail" 
            type="text" 
            class="form-control">
           <div class="alert alert-danger"
              *ngIf="contacteMail.touched && !contacteMail.valid">
           <div 
            *ngIf="contacteMail.errors.required">
            eMail is required
          </div>
           <div
            *ngIf="contacteMail.errors.minlength">
            eMail should be atleast {{ contacteMail.errors.minlength.requiredLength }} characters
            </div>
           </div>
           </div>
           <button (click)="newContact()">Lägg till kontakt</button>
  </div>  


     <!--RightColumn-->
  <!--Cutoffs-->
<div id="rightColumn">
      <p id="cutOffs">CutOffs</p>
      <div class="form-group">
      <label for="cutOffSv">Sverige</label>
      <input
       required
       minlength="4" 
       maxlength="4" 
       ngModel name="cutOffSv" 
       #cutOffSv="ngModel"
       (change)="getSweden(cutOffSv)" 
       id="cutOffSv"
       type="text" 
       class="form-control">
      <div class="alert alert-danger"
       *ngIf="cutOffSv.touched && !cutOffSv.valid">
      <div
       *ngIf="cutOffSv.errors.required">
       Cutoff for sweden is required, format 1200
      </div>
      <div 
      *ngIf="cutOffSv.errors.minlength">
      Input example: 1200
    </div>
  </div>
  </div>

  <div class="form-group">
  <label for="cutOffAbroad">Utland</label>
      <input 
        minlength="4" 
        maxlength="4" 
        ngModel 
        name="cutOffAbroad" 
        #cutOffAbroad="ngModel"
        (change)="getAbroad(cutOffAbroad)" 
 
        id="cutOffAbroad"
        type="text" 
        class="form-control">
      <div class="alert alert-danger"
       *ngIf="cutOffAbroad.touched && !cutOffAbroad.valid">
      <div 
        *ngIf="cutOffAbroad.errors.minlength">
        Input should be: 1200</div>
      </div>
      </div>

      <div class="form-group">
      <label for="comments">Övriga kommentarer</label>
      <textarea 
      cols="40" 
      rows="10"
        id="comments"
        ngModel 
        name="comments" 
        #comments="ngModel"
        (change)="getComments(comments)"></textarea>
        </div>
  </div>


  <div id="buttons">
      <button type="submit" class="btn btn-success" [disabled]="!createCustomerForm.form.valid">Spara kund</button>   
      <button id="stepBackButton" class="stepBackButton" (click)="stepBack()">Tillbaka</button>
      </div>  


  <div id="contacts">
    <ul>
      <li class="contacts" *ngFor="let contact of contacts; let i = index">{{i+1}}.
        <span id="listFirstname" class="listElement">{{contact.firstname}}</span>
        <span id="listLastname" class="listElement">{{contact.lastname}}</span>
        <span id="listPhone" class="listElement">{{contact.phone}}</span>
        <span id="listEmail" class="listElement">{{contact.eMail}}</span>
        <button id="deleteContact" (click)="deleteContact(i)">X</button>
      </li>
    </ul>
  </div>


</form>  

</div>