<div id="blueList">
    <p id="blueListHeader">Skapa kund</p>
</div>

    <form #createCustomerForm="ngForm">
      <div id="newCustomerForm">

      <div id="leftColumn">
      <!-- LeftColumn -->  
      <!-- CustomerName  -->
      <mat-form-field class="form-group">
      <input 
       matInput
       placeholder="Kundnamn"
       required
       minlength="3" 
       ngModel
       name="customerName" 
       #CustomerName="ngModel" 
       type="text" 
       class="form-control">
       <mat-error *ngIf="CustomerName.touched && !CustomerName.valid ">
        Fyll i kundnamn
       <mat-error *ngIf="CustomerName.errors.minlength && !CustomerName.valid">
          Ska bestå av minst {{ CustomerName.errors.minlength.requiredLength }} tecken
        </mat-error>
  
      </mat-error>
  
    </mat-form-field>

    <!-- CustomerID -->
    <mat-form-field class="form-group">
        <input 
        matInput 
        placeholder="KundID"
        required
         minvalue="0"
         minlength="2" 
         maxlength="3" 
         ngModel 
         name="customerID" 
         #customerID="ngModel" 
         type="text" 
         class="form-control">
        <mat-error *ngIf="customerID.touched && !customerID.valid">
          Fyll i KundID, 2 eller 3 siffror
        </mat-error>
     
    </mat-form-field>
    
  
      <!-- SECTIONS -->
      <mat-form-field>
        <mat-select 
        required
          placeholder="Avdelning"
          ngModel
          name="section" 
          #section="ngModel" 
          >
          <mat-option value="Solsidan">Solsidan</mat-option>
          <mat-option value="Dannes">Dannes</mat-option>
          <mat-option value="Bong">Bong</mat-option>
        </mat-select>
      </mat-form-field>
  
      <mat-form-field class="form-group">
        <input 
          matInput
          placeholder="Förkortning"
          value=" {{ value }} "
          ngModel 
          name="shortname" 
          #shortname="ngModel" 
          >
      </mat-form-field>

      <mat-form-field>
        <mat-select 
        required
         placeholder="Enligt onGoings datum"
          ngModel
          name="deliverDate"
          #deliverDate="ngModel"
          >
          <mat-option [value]="0">Skickas</mat-option>
          <mat-option [value]="1">Levereras</mat-option>            
        </mat-select>
      </mat-form-field>


  
    
    </div>
  
     <!-- MiddleColumn -->  
    <!-- Contacts -->
  <div id="middleColumn">
          <!-- FirstName -->
          <mat-form-field class="form-group">
          <input 
          matInput 
          placeholder="Förnamn"
          (change)="getFirstname(contactFirstName)" 
           required
           minvalue="0" 
           minlength="2" 
           maxlength="20" 
           ngModel 
           name="firstname" 
           #contactFirstName="ngModel" 
           type="text" 
           class="form-control">
          <mat-error
           *ngIf="contactFirstName.touched && !contactFirstName.valid">
           Fyll i förnamn
          <mat-error
           *ngIf="contactFirstName.errors.minlength">
           Förnamn ska innehålla minst {{ contactFirstName.errors.minlength.requiredLength }} bokstäver
          </mat-error>
        </mat-error>
  
      </mat-form-field>
  
          
              <!-- LastName -->
              <mat-form-field class="form-group">
                  <input 
                  matInput 
                  placeholder="Efternamn"
                  (change)="getLastname(contactLastName)" 
                   required
                   minvalue="0" 
                   minlength="2" 
                   maxlength="20" 
                   ngModel 
                   name="lastname" 
                   #contactLastName="ngModel" 
                   type="text" 
                   class="form-control">
                  <mat-error
                   *ngIf="contactLastName.touched && !contactLastName.valid">
                   Fyll i Efternamn
                  <mat-error
                   *ngIf="contactLastName.errors.minlength">
                   Efternamn ska innehålla minst {{ contactLastName.errors.minlength.requiredLength }} bokstäver
                  </mat-error>
                </mat-error>
              </mat-form-field>
          
              <!-- Phone -->
              <mat-form-field class="form-group">
                  <input 
                  matInput 
                  placeholder="Telefon"
                  (change)="getPhone(phone)" 
                   required
                   minvalue="0" 
                   minlength="5" 
                   maxlength="15" 
                   ngModel 
                   name="phone" 
                   #phone="ngModel" 
                   type="text" 
                   class="form-control">
                  <mat-error
                   *ngIf="phone.touched && !phone.valid">
                  <mat-error
                   *ngIf="phone.errors.minlength">
                   Telefonnumret ska innehålla minst  {{ phone.errors.minlength.requiredLength }} siffror
                  </mat-error>
                </mat-error>
              </mat-form-field>
  
                    <!-- Email -->
                    <mat-form-field class="form-group">
                        <input 
                        matInput 
                        placeholder="Email"
                        (change)="getEmail(eMail)" 
                         required
                         minvalue="0" 
                         minlength="5" 
                         maxlength="40" 
                         ngModel 
                         name="email" 
                         #eMail="ngModel" 
                         type="text" 
                         class="form-control">
                        <mat-error
                         *ngIf="eMail.touched && !eMail.valid">
                        <mat-error
                         *ngIf="eMail.errors.minlength">
                          Fyll i email
                        </mat-error>
                      </mat-error>
                    </mat-form-field>
                    
                    <br>
            
               <button mat-mini-fab color="primary" (click)="addContact()" id="contactButton">+</button>
  
               <mat-list role="list" *ngFor="let contact of contacts; let i = index">
                  <mat-list-item role="listitem">
                      <span id="contactNumber" class="listElement">{{i+1}}. </span>
                      <span id="listFirstname" class="listElement">{{contact.firstname}}</span>
                      <span id="listLastname" class="listElement">{{contact.lastname}}</span>
                      <span id="listPhone" class="listElement">{{contact.phone}}</span>
                      <span id="listEmail" class="listElement">{{contact.eMail}}</span>
                      <button mat-mini-fab color="primary"(click)="deleteContact(i)" id="contactDeleteButton">X</button>
                    </mat-list-item>
              </mat-list>
      
      </div>  
    
  
         <!--RightColumn-->
      <!--Cutoffs-->
  <div id="rightColumn">
      <mat-form-field class="form-group">
          <input 
          matInput 
          placeholder="Cut off Sverige"
  
           required
           minvalue="0" 
           minlength="4" 
           maxlength="4" 
           ngModel 
           name="cosv" 
           #cOsv="ngModel" 
           type="text" 
           class="form-control">
          <mat-error
           *ngIf="cOsv.touched && !cOsv.valid">
           Fyll i Cut off för svenska leveranser
          <mat-error
           *ngIf="cOsv.errors.minlength">
            4 siffror. Exempel: 0930 
          </mat-error>
        </mat-error>
      </mat-form-field>
  
    
      <mat-form-field class="form-group">
          <input 
          matInput 
          placeholder="Cut off Utomlands"

           minvalue="0" 
           minlength="4" 
           maxlength="4" 
           ngModel 
           name="coab" 
           #cOab="ngModel" 
           type="text" 
           class="form-control">
          <mat-error
           *ngIf="cOab.touched && !cOab.valid">
           Fyll i Cut off för utländska leveranser
          <mat-error
           *ngIf="cOab.errors.minlength">
            4 siffror. Exempel: 0930 
          </mat-error>
        </mat-error>
      </mat-form-field>
  
  
      <mat-form-field class="form-group">
          <textarea 
              matInput 
              placeholder="Kommentarer" matTextareaAutosize matAutosizeMinRows="2"
              matAutosizeMaxRows="5"
              ngModel 
              name="comments" 
              #comments="ngModel"
          >
        </textarea>
        </mat-form-field>

            <!-- SOP -->
      <mat-form-field class="form-group">
        <input 
          matInput
          placeholder="Länk till SOP"
          value=" {{ value }} "
          ngModel 
          name="sop" 
          #sop="ngModel" 

          >
      </mat-form-field>

      <mat-form-field class="form-group">
        <input 
          matInput
          placeholder="Länk till logotype"
          value=" {{ value }}"
          ngModel 
          name="logo" 
          #logo="ngModel" 

          >
      </mat-form-field>
      </div>
  
  
      <div id="buttons">
          <button mat-raised-button color="primary" (click)="stepBack()" >Tillbaka</button>
          <button mat-raised-button type="submit" class="btn btn-success" id="saveCustomer" [disabled]="!createCustomerForm.form.valid" (click)="createCustomer(createCustomerForm.value)" (click)="stepBack()">Spara kund</button>           

        </div>  
      </div>
  </form>  
  
