
#newCustomerForm {
    width: 100%;
    height: 1000px;
    display: inline-block;

}

#blueList {
    background-color: blue;
    height: 60px;
    text-align: center;
    width: 105%;
    margin-left: -25px;

}

#blueListHeader {
    color: white;
    font-size: 36px;
    text-align: center;
    margin-left: 27%;
    margin-top: 10px;
    width: 25%;
    display: inline-block;
}


#leftColumn {
    width:30%;
    margin-left: 5%;
    float:left;
    height: 500px;
    
    
}

#middleColumn {
    width: 30%;
    margin-top: 0px;
    float: left;
    vertical-align: top;
    height: 500px;


}

#rightColumn {
    width: 30%;
    float: left;
    height: 500px;

}


.form-group {
    width:80%;
    padding: 10px;
}

.form-control {
    margin-top: 20px;
    padding-right: 10px;
    width: 50%;
    margin-left: 20px;
    border-radius: 5px;
}

#sections {
    display: inline-block;
}


.alert-danger {
    color: blue;
    display: inline-block;
}


#contacts {
    border: 10px solid black;
    display: inline-block;
}

#buttons {
    float:right;
    margin-right: 10%;
}


.sectionGroup {
    display: inline-flex;
    flex-direction: column;
}

.sectionButton {
    margin: 5px;
}

.listElement {
    margin-left: 10px;
}
#contactNumber {
    color: blue;
}

.li {
    margin-top: 20px;
    border-bottom: 1px solid black;

}

#contactDeleteButton {
    float: right;
    margin-left: 100px;

}

#contactDeleteButton:hover {
    
    background-color: red;

}

#contactButton {
    margin-left: 45%;
}
#contactButton:hover {
    background-color: green;
}

.btn-success {
    background-color: blue;
    color: white;
}


.btn-success:hover {
    background-color: green;
    color: white;
}

.mat-radio-outer-circle {
    border-color: blue;
} 

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: blue;
}
.mat-radio-button.mat-accent .mat-radio-inner-circle{
    background-color: blue;
 

}