<div id="blueList">
  <button mat-button id="sectionButton"  [matMenuTriggerFor]="menu">Avdelning </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="selectedSection('solsidan')">Solsidan</button>
    <button mat-menu-item (click)="selectedSection('dannes')">Dannes</button>
    <button mat-menu-item (click)="selectedSection('bong')">Bong</button>
    <button mat-menu-item (click)="selectedSection('all')">Alla</button>
  </mat-menu>
<span id="sectionHeader">{{currentSection}}</span>
</div>

<div id="leftSide" class="leftAndRight">
<p id="returnsToday"  class="orderHeader">Returer idag</p>
<br>
<p id="todayNumber" class ="orderNumber">{{today}}</p>

</div>


<div id="rightSide" class="leftAndRight">
  <p id="returnsToday" class="orderHeader">Returer vecka</p>
  <br>
  <p id="todayNumber" class ="orderNumber">6</p>


</div>