
<div id="menuList">
  
  <div id="pages">
  <a routerLink="utleverans">Utleverans</a>
  <a routerLink="inleverans">Inleverans</a>
  <a routerLink="retur">Retur</a>
  <a routerLink="statistik">Statistik</a>
  <a routerLink="information">Information</a>
  <a routerLink="kunder">Kunder</a>
  </div>
  
  
  <div id="logga"></div>


  <div id ="dateDiv">
  <span id="date" class="dateDivLines">{{year}}-{{month}}-{{date}}</span> 
  <br>
  <span id="time" class="dateDivLines">{{hours}}:{{minutes}}:{{seconds}}</span>
  </div>

</div>


<router-outlet></router-outlet>
