<div id="menuList">
  
  <a routerLink="utleverans">Utleverans</a>
  <a routerLink="inleverans">Inleverans</a>
  <a routerLink="retur">Retur</a>
  <a routerLink="statistik">Statistik</a>
  <a routerLink="information">Information</a>
  <a routerLink="kunder">Kunder</a>


  <div id="logga"></div>
  <form name="Avdelning" id="avdelning">
    <label>Solsidan:
      <input type="checkbox">
    </label>
    <label>Dannes: 
      <input type="checkbox">
    </label>
    <label>Bong:
      <input type="checkbox">
    </label>
  </form>
  

</div>

<router-outlet></router-outlet>
