#newCustomerForm {
    border: 1px solid black;
    height: 1000px;
    width: 400px;
    display: inline-block;

}

#newCustomerForm {
    margin-top: 100px;

}
.form-group {
    padding: 10px;
}

.form-control {
    margin-top: 20px;
    padding-right: 10px;
}

#sections {
    display: inline-block;
}

#contacts {
   width: 300px;
   border: 1px solid black;
}



.alert-danger {
    color: blue;
    display: inline-block;
}
