#blueList {
    background-color: blue;
    height: 60px;
    text-align: center;

}
#blueListHeader {
    color: white;
    font-size: 36px;
    text-align: center;
}

#newCustomerButton {
    color:black;
  
    float: right;
}

.customerButton {
    width: 200px;
    margin-top: 20px;
}

.customer button:hover {
    background-color: blue;
    color: white;
}

#allLists {
    margin-top: 5px;
}

#solsidan {
    width: 33%;
    float:left;
}


#dannes {
    width: 33%;
    float:left;
}

#bong {
    width: 33%;
    float:left;
}

.customerName {
    margin-left: 45%;
}
