#blueList {
    background-color: blue;
    height: 60px;
    text-align: center;
    width: 105%;
    margin-left: -25px;

}
#blueListHeader {
    color: white;
    font-size: 36px;
    text-align: center;
    width: 150px;
    display: inline-block;
    margin-top: 10px;
    margin-left: - 200px;
}

#newCustomerButton {
    color:white;
    font-weight: bold;
    background-color: blue;
    float: left;
    margin-left: 15px;
    margin-top: 12px;
    border: 1px solid white;

}

#allLists {
    margin-top: 5px;
    
}

.columns {
    width: 33%;
    float:left;
    font-weight: bold;
    text-align: center;

}


#customerName {
    width: 100%;
    font-size: 20px;
    font-weight: 300;
    font-family: 'Questrial', sans-serif;
}

.editButton {
    float:right;
    margin-top: 10px;
}

.contactListItem {
    margin-right: 5px;

}


.contactName {
    width: 30%;
    text-align:left;
    font-weight: bold;

}

.contactPhone {
    width: 25%;

}

.contactEmail {
    text-align:right;
    width: 40%;
    float: right;

}


.cutoffs {
    width: 100%;
    text-align: left;
}

.subHeader {
    text-align: center;
    margin-right: 15px;
    font-size: 14px;
    font-weight: bold;
}

.cop {
    font-weight: bold;
    width: 35%;
}
