<div id="orderOverview">
    <div class="orderOverviewParts" id="OrderOverview1">
        <p>Antal öppna</p>
        <span class="numbers"> {{ orders }} </span>
    </div>
    <div class="orderOverviewParts" id="OrderOverview2">
        <p>Antal utland</p>
        <span class="numbers"> {{ abroad }} </span>

    </div>
    <div class="orderOverviewParts" id="OrderOverview3">
        <p>Antal restade</p>
        <span class="numbers"> {{ rest }} </span>

    </div>
    <div class="orderOverviewParts" id="OrderOverview4">
        <p>antal orderrader</p>
        <span class="numbers"> {{ orderLines }} </span>
    </div>
</div>

        