<form name="Avdelning" id="avdelning">
        <label>Solsidan:
          <input type="radio" name="section" (click)="selectedSection(solsidan)" value="solsidan">
        </label>
        <label>Dannes: 
          <input type="radio" name="section" (click)="selectedSection(dannes)" value="dannes">
        </label>
        <label>Bong:
          <input type="radio" name="section" (click)="selectedSection(bong)" value="bong">
        </label>
        <label>Alla:
            <input type="radio" name="section" (click)="selectedSection(allOrders)" value="all">
          </label>
      </form>
      
<div id="orderOverview">
    <div class="orderOverviewParts" id="OrderOverview1">
        <p>Antal öppna</p>
        <span class="numbers"> {{ openOrders.length }} </span>
    </div>
    <div class="orderOverviewParts" id="OrderOverview2">
        <p>Antal utland</p>
        <span class="numbers"> {{ abroadOrders.length }} </span>

    </div>
    <div class="orderOverviewParts" id="OrderOverview3">
        <p>Antal restade</p>
        <span class="numbers"> {{ restOrders.length }} </span>

    </div>
    <div class="orderOverviewParts" id="OrderOverview4">
        <p>antal orderrader</p>
        <span class="numbers"> {{ orderLines.length }} </span>
    </div>
</div>

<ul id="customerList">
    <span id ="nameHeader" class ="listHeaders">Kund</span>
    <span id ="openHeader"class ="listHeaders">Öppna</span>
    <span id ="abroadHeader"class ="listHeaders">Utlands</span>
    <span id ="restHeader"class ="listHeaders">Restade</span>
    <span id ="cutOffHeader"class ="listHeaders">CutOff</span>
    <span id ="orderLinesHeader"class ="listHeaders">Orderlines</span>


    <li *ngFor="let customer of customersWithOrders">
   <div class="customerLine">
    <span id="name" class="orderList">{{customer.customerName}}</span>
    <span id="openOrders" class="orderList">{{customer.openOrders.length}}</span>
    <span id="abroadOrders" class="orderList">{{customer.abroadOrders.length}}</span>
    <span id="restOrders" class="orderList">{{customer.restOrders.length}}</span>
    <span id="cutOff" class="orderList">{{customer.cutOff}}</span>
    <span id="orderLines" class="orderList">{{customer.orderLines.length}}</span>    
    </div>
 
    </li>
</ul>

        