
#sectionTransporter {
    height: 60px;
    width: 105%;
    margin-left: -30px;
    background-color: blue;
    font-size:24px;
    display:inline-block;
}

#sections {
 float:left;
 width: 30%;
 color: white;
 margin-top: 10px; 
 font-family: 'Questrial', sans-serif;

}


#sectionButton {
    margin-left: 10px;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Questrial', sans-serif;

}
#sectionHeader {
    text-align: center;
    margin-left: 5%;
    margin-top: 8px;
    float:left;
    width: 25%;
    font-size: 36px;
    color: white;
}

#nextPickUp {
    float:right;
    width: 35%;
    margin-right: 30px;
}

.pickUpTime {
    float: right;
    color:white;
    margin-top: -15px;
}

#nextPickUpTime {
 font-size: 36px;
}
#transporterUl {
    list-style: none;
}

.transporter {
    color: white;
    float:right;
    margin-top: -20px;
    margin-left: 20px;
    margin-right: 20px;
}

#transporterLogoDiv {
    height: 61px;
    width: 180px;
}
#transporterImage {
    float: right;
    height: 61px;
    //width: 180px;
    margin-top: -6px;
}

#orderOverview {
    width: 105%;
    height: 120px;
    border-bottom: 2px solid blue;
    margin-left: -25px;
}

.orderNumberHeaders {
    width: 100%;
    text-align: center;
}

.orderOverviewParts {
    width: 24.5%;
    display: inline-block;
    height: 120px;

}

.orderNumbers {
    font-size: 72px;
    font-weight: bold;
    text-align: center;
    margin-top: -20px;
}

.orderNumberHeaders {
    font-size: 24px;
    margin-top: -3px;
}

#customerList {
  width:100%;
  border: 1px solid black;
  list-style-type: none;

}


#orderList {
    font-size: 200%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    display: inline-block;
    width: 95%;
}

.name {
    margin-left: 12px;
    font-weight: bold;
}

.open {
    margin-left: 30px;
    text-align: center;
}

.abroad {
    margin-left: 110px;
    text-align: center;

}

.rest {
    margin-left: 110px;
    text-align: center;
}

.orderLines {
    margin-left: 160px;
    text-align: center;
}


mat-header-row {
    border-bottom: 2px solid blue;
    width: 110%;
    margin-left: -25px;

}
mat-header-cell {
    font-size:24px;
    font-weight: bold;
    width: 110%;
    color: black;
    margin-left: 2%;
}

mat-cell {
    font-size: 20px;
    color: black;
}


.customerName  {
    font-size: 20px;
    font-weight: bold;
    color: black;
    margin-left: 5px;
}




mat-header-row mat-sort-header-button {
    border:2px solid red;
}
mat-row:hover {
    background-color: rgba(172, 165, 204, 0.2);
}

